@media (max-width: 840px) {
    .navegacao .menu {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 10px;
    }
    .menu li a {
        font-size: 0.7rem;
    }

    .navegacao .menu li a img {
        width: 15px;
    }

    .img-wifi img {
        width: 100px;
    }

    .rodape {
        font-size: 0.7rem;
    }

    .plano-bronze, .plano-ouro, .plano-diamante, .plano-premium, .plano-gamer, .banner-vip {
       width: 40%;
    }

    .todos-os-planos {
        gap: 40px;
    }

    .descricao-vipmais {
        font-size: .7rem;
    }

    .informacoes .tel {
        font-size: .8rem;
    }

    .titulo-h1 h1 {
    font-size: .8rem;
}
}

@media (max-width: 800px) {
    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .botao {
        padding: 10px;
    }

    .informacoes {
        padding: 1%;
    }

    .informacoes span, .whats {
        font-size: .62rem;
        gap: 2px;    
    }

    .plano-bronze, .plano-ouro, .plano-diamante, .plano-premium, .plano-gamer, .banner-vip {
        color: #000000;
        height: 25vh;
        gap: 5%;
        font-size: .7rem;
    }
    
    .img-wifi img {
        width: 100px;
    }

    .quantidade {
        font-size: 1.2rem;
    }

    .todos-os-planos h2 {
        font-size: 1.5rem;
    }

    .icones {
        gap: 10px;
    }

    .descricao-vipmais {
        font-size: .6rem;
    }

    .informacoes .tel {
        font-size: .6rem;
    }

    .tecnico-image {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .image-background {
        position: relative;
        width: 100%;
        height: 400px;
        z-index: 0;
    }

    .image-background::before {
        content: "";
        background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0)), url(../imagens/montagem-cto.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: absolute;
        width: 100%;
        height: 100%;
        right: 0;
        top: 50%;
        margin: 0;
        border-radius: 0;
        z-index: -1;
        opacity: 0.3;
    }

}

@media (max-width: 660px) {
    .todos-os-planos {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .plano-bronze, .plano-ouro, .plano-diamante, .plano-premium, .plano-gamer, .banner-vip {
        width: 80%;
        gap: 10px;  
    }

     .img-wifi img {
        width: 70px;
    }

    .contato {
        flex-direction: column;
        margin-top: 1%;
    }

    .contato .instagram, .whatsapp {
        justify-content: end;
    }

    .descricao-vipmais {
        background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
        width: 100%;
        font-size: .6rem;
    }

    .titulo-h1 h1 {
    font-size: .6rem;
}
}

@media (max-width: 480px) {
    .image-background::before {
        border-radius: 0;
    }

    .navegacao {
        position: absolute;
        top: 0;
        width: 100%;
        right: 0;
        margin-top: 4%;
    }

    .logo {
        width: 30%;
    }
    
}

@media (max-width: 375px) {
    .navegacao {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 5%;
    }

    .botao {
        padding: 6px 10px 8px 10px;
        font-size: .7rem;
    }

    .todos-os-planos {
        gap: 5px;
    }

    .tecnico-image {
        margin: 0;
        padding: 5px;
    }

    .image-background::before {
        content: "";
        background-image: url(../imagens/montagem-cto.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: absolute;
        width: 100%;
        height: 100%;
        margin: 0;
        opacity: 0.6;
        border-radius: 0;
    }

    .img-wifi img {
        width: 50px;
    }

    .rodape {
        margin: 0;
        font-size: .6rem;
    }
    
    .descricao-vipmais {
        font-size: .5rem;
    }

    .descricao-vipmais p {
        text-align: left;
        letter-spacing: 1px;
        line-height: .7rem;
    }

    .logo-anatel {
        width: 20%;
    }

    .logo-anatel img {
        width: 50px;
    }

    .instagram img, .whatsapp img {
        width: 15px;
    }

    .direitos span {
        font-size: .5rem;
    }

}